<!DOCTYPE html>
<html>
  <head>
    <title>YouTwobe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property = "og:title" content = "YouTwobe"/>
    <meta property = "og:image" content = "<%= image_url('YouTwobe-Feature.png') %>"/>
    <meta property = "og:description"
      content = "YouTwobe, inspired by YouTube, is an online video-sharing website where users can view videos posted by others, as well as post their own videos, and interact through comments."
    />

    <meta property = "og:url"
      content = "http://youtwobe3.herokuapp.com/"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <%= favicon_link_tag asset_path('YouTube-Icon.svg')%> 

    <script type="text/javascript">
      window.YouTubeIconURL = "<%= image_url('YouTube-Icon.svg') %>";
    </script>

    <% if signed_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
